<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/tests/broken-access-control">Broken Access Control</a></li>
    <li><a routerLink="/tests/xss">Cross-Site Scripting (XSS)</a></li>
    <li><a routerLink="/tests/broken-auth">Broken Authentication</a></li>
    <li><a routerLink="/tests/crypto-fail">Cryptographic Failures + CSRF</a></li>
    <li><a routerLink="/tests/ssrf">Server-Side Request Forgery (SSRF)</a></li>
    <li><a routerLink="/tests/path_traversal">Path Traversal</a></li>
    <li><a routerLink="/tests/rce">Remote Code Execution</a></li>
  </ul>
</nav>
